@{
    ViewBag.Title = "Home Page";
}



<div class="container" align="center">
    <form>
        <h3>YagoDizaynGame Giriş</h3> <hr />
        <input type="text" name="NickName" value="Kullanıcı Adınız..." class="form-control" /> <br/>
        <input type="password" name="Password" value="Şifreniz..." class="form-control" />
    </form>  
</div>